@charset "utf-8";
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
.artice{
    width: 100%;
    height: 1500px;
    margin: 70px 0 0 110px;
}
.rows{
    width: 1280px;
    height: 572px;
}
.rowsLeft{
    width:768px;
    height:572px;
    float: left;
}
.rowsLeftLeft{
    width: 56px;
    height: 400px;
    float: left;
}
.rowsLefeLeftLi img{
    width: 56px;
    height: 64px;
    border: 1px solid #c7c7c7;
    margin-bottom: 5px;   
}
.rowsLeftRight{
    width: 636px;
    height: 572px;
    float: left;
    margin-left: 50px;
    position: relative;
}
.mirrorBox{
    width:256px;
	height:233px;
	background-color:white;
    opacity:0.3;
    border: 1px solid #c7c7c7;
    position: absolute;
    left:0;
    top:0;
    display: none;
}
.showBox{
    width:637px;
    height:574px;
    // z-index: 1;
    background: #c7c7c7;
}
.showBox img{
    width:637px;
    height:574px;
}
.box3{
    width: 512px;
    height: 466px;
    background: #c7c7c7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
    background-repeat:no-repeat;
    background-size: 1274px 1148px;
}
.rowsRight{
    width: 512px;
    height: 466px;
    float: left;
    position: relative;
}
.rowsRightH1{
    margin-left: 50px;
}
.rowsRightH1 h1{
    font-size: 22px;
    color: #1d1d1d;
    line-height: 30px;
}
.rowsRightSpan{
    margin-left: 50px;
    margin-top: 20px;
}
.rowsRightSpan span{
    font-size: 22px;
    color: #1d1d1d;
    line-height: 30px;
}
.rowsRight01{
    margin-left: 50px;
    margin-top: 16px;
    position: relative;
}
.rowsRight01 p{
    font-size: 14px;
    color: #1d1d1d;
    margin-bottom: 8px;
}
.rowsRight01 span{
    color: #5a5a5a;
    position: absolute;
    left: 130px;
    top: 0;
}
.rowsRight01A{
    display: block;
    width: 42px;
    height: 30px;
    background: #231f20;
    border: 2px solid #fff;
}
.rowsRight01A:hover{
    color: #23527c;
}
.rowsRight01AA{
    width: 46px;
    height: 34px;
    border: 2px solid black;
}
.rowsRightChiMa{
    font-size: 14px;
    margin-left: 50px;
    margin-top: 30px;
}
.rowsRightMa{
    margin-left: 50px;
    margin-top: 20px;
}
.rowsRightMaLi{
    float: left;
    width: 44px;
    padding: 0 10px;
    height: 38px;
    border: 1px solid #c7c7c7;
    line-height: 38px;
    text-align: center;
    margin-right: 13px;
    margin-bottom: 12px;
}
.num{
    float: left;
    margin-left: 50px;
    margin-top: 30px;
}
.calculateNum{
    width:100%;
    height: 30px;
    float: left;
    margin-left: 50px;
    margin-top: 7px;

}
.calculateNum a{
    display: block;
    width: 35px;
    border: 1px solid #979797;
    float: left;
    text-align: center;
}
.calculateNumIpt{
    width:40px;
    text-align: center;
    line-height: 19px;
    float: left;
}
.style{
    margin-left: 50px; 
    width: 394px;
    height: 48px;
    float: left;
    margin-top: 20px;
}
.dengLU{
	text-align: center;
	width:189px;
	height: 48px;
	background-color: red;
    line-height: 48px;
    float: left;
}
.dengLU:hover{
	background: black;
}
.dengLU a{
    font-size: 14px;
    font-weight: bold;
	color: white;
}
.dengGouMai{
    text-align: center;
    width:189px;
    height: 48px;
    background-color: black;
    line-height: 48px;
    float: left;
    margin-left: 16px;
}
.dengGouMai a{
    font-size: 14px;
    font-weight: bold;
	color: white;
}
.bottom{
    width: 394px;
    height: 37px;
    margin-left: 50px;
    float: left;
    margin-top: 30px;
    font-size: 14px;
}
.botom01{
    float: left;
    margin-right: 40px;
    width: 85px;
    height: 23px;
    position: relative;
}
.botom01 a{
    display: block;
    color: black;
   
}
.botom01 span{
    position: absolute;
    left: 29px;
    top: 2px;
}
.character{
    float: left;
}
.characterH2{
    float: left;
    background-color: #f6f6f6;
    line-height: 58px;
    height: 60px;
    width: 1280px;
    font-size: 22px;
    padding-left: 14px;
    color: #1d1d1d;
    margin-top: 70px;
    margin-bottom: 50px;
}
.characterH2 h2{
    float: left;
    display: block;
    font-weight: 100;
}
.describe{
    padding: 38px 0 22px 15px;
}
.descrText{
    margin-bottom: 10px;
}
.descrText span{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;  
}
.descrText ul li{
    list-style: disc;
    font-size: 16px;
    margin-left: 100px;
    line-height: 28px;
    color: #000;
}
.characterH201{
    float: left;
    background-color: #f6f6f6;
    line-height: 58px;
    height: 60px;
    width: 1280px;
    font-size: 22px;
    padding-left: 14px;
    color: #1d1d1d;
    margin-bottom: 20px;
}
.characterH201 h2{
    float: left;
    display: block;
    font-weight: 100;
}