@charset "UTF-8";
body, p, dl, dd, ul, ol, li, div, h1, h2, h3, h4, h5, h6, form, input, table, tr, td {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

.container {
  width: 100%;
  height: 604px;
  margin: 80px 0 0 320px; }

.login {
  width: 1320px;
  height: 604px; }

.loginRegister {
  widows: 870px;
  height: 604px; }

.loginRegiste h3 {
  font-size: 26px;
  color: #1d1d1d; }

.loginRegisterBox {
  width: 940px;
  height: 534px;
  margin-top: 30px; }

.left {
  width: 435px;
  height: 331px;
  margin-right: 80px; }

.left1 {
  width: 440px;
  height: 77px;
  margin-bottom: 40px; }

.left1 p {
  font-size: 16px;
  color: #1d1d1d;
  margin-bottom: 10px; }

.left1Inp {
  width: 400px;
  height: 48px; }

.left1 span {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #e52837;
  display: none; }

.left2 {
  width: 440px;
  height: 77px;
  margin-bottom: 40px; }

.left2 p {
  font-size: 16px;
  color: #1d1d1d;
  margin-bottom: 10px; }

.left2 span {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #e52837;
  display: none; }

.left3 {
  width: 440px;
  height: 77px;
  margin-bottom: 40px; }

.left3 p {
  font-size: 16px;
  color: #1d1d1d;
  margin-bottom: 10px; }

.left3 span {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #e52837;
  display: none; }

.right {
  width: 435px;
  height: 331px;
  float: right;
  margin-top: -332px; }

.right1 {
  width: 440px;
  height: 77px;
  margin-bottom: 40px; }

.right1 p {
  font-size: 16px;
  color: #1d1d1d;
  margin-bottom: 10px; }

.right1Inp {
  width: 400px;
  height: 48px; }

.right1 span {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #e52837;
  display: none; }

.verifier {
  width: 400px;
  height: 48px;
  position: relative; }

.right2 {
  width: 440px;
  height: 77px;
  margin-bottom: 40px; }

.right2 p {
  font-size: 16px;
  color: #1d1d1d;
  margin-bottom: 10px; }

.right1Inp1 {
  width: 232px;
  height: 48px; }

.right2 span {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #e52837;
  display: none; }

.photo {
  position: absolute;
  left: 250px;
  top: 26px;
  width: 160px;
  height: 50px; }

.photo img {
  width: 104px;
  height: 48px;
  border: 1px solid black; }

.photo a {
  text-decoration: underline;
  font-size: 16px;
  color: #1d1d1d; }

.right3 {
  width: 440px;
  height: 100px;
  margin-top: 66px;
  position: relative; }

.right3 p {
  font-size: 16px;
  color: #1d1d1d;
  margin-bottom: 10px; }

.right1Inp2 {
  width: 303px;
  height: 48px;
  float: left; }

.right3 a {
  display: block;
  width: 97px;
  height: 50px;
  border: 1px solid gray;
  background: gray;
  font-size: 18px;
  color: white;
  line-height: 48px;
  float: left; }

.right3 span {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #e52837;
  position: absolute;
  left: 5px;
  top: 84px;
  display: none; }

.leftBottom {
  width: 870px;
  height: 72px;
  margin-top: 40px;
  margin-left: 10px;
  position: relative; }

.leftBottomShang {
  width: 835px;
  height: 24px; }

#shangGou {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  float: left; }

.leftBottomShang span {
  display: block;
  float: left;
  margin-left: 8px; }

.leftBottomXia {
  width: 835px;
  height: 24px;
  margin-top: 20px; }

#xiaGou {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background: white; }

.leftBottomXia span {
  display: block;
  float: left;
  margin-left: 8px; }

.leftBottomXia a {
  color: #1d1d1d;
  text-decoration: underline; }

.bottom {
  width: 870px;
  height: 70px;
  margin-top: 46px; }

.dengLU {
  text-align: center;
  width: 400px;
  height: 60px;
  background-color: red;
  line-height: 60px; }

.dengLU:hover {
  background: black; }

.dengLU a {
  font-size: 25px;
  color: white; }

.account {
  width: 435px;
  height: 70px;
  position: relative;
  margin-left: -520px; }

.account p {
  margin-top: -42px;
  width: 400px;
  height: 60px;
  color: #1d1d1d;
  position: absolute;
  left: 970px; }

.account a {
  text-decoration: underline;
  color: #1d1d1d; }

/*# sourceMappingURL=register.css.map */
